{% extends "layout.html" %}

{% block head %} Home {% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body %}
        <h1 id="heading">Requests</h1>
        <br>
        <br>
    <div id="content">
        {% if info == [] %}
            <div id="no_requests"> Sorry, there are no requests for you yet. </div>
        {% else %}
            <div id="table">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Zip Code</th>
                        <th>Details of Request</th>
                        <th>Drop off details</th>
                        <th>Additional comments</th>
                        <th>Thank you note</th>
                        <th>Status</th>
                    </tr>
                    {% for one in info %}
                        <tr>
                            <td id="name">{{ one[1] }}</td>
                            <td>{{ one[0] }}</td>
                            <td>{{ one[2] }}</td>
                            <td>{{ one[3] }}</td>
                            <td>{{ one[4] }}</td>
                            <td>{{ one[5] }}</td>
                            <td>{{ one[6] }}</td>
                            <td>{{ one[7] }}</td>
                            {% if one[9] == 0%}
                                <td>
                                    <a href="/accept/{{vtr}}/{{one[0]}}">Accept</a>
                                    <br>
                                    <br>
                                    <a href="/decline/{{vtr}}/{{one[0]}}">Decline</a>
                                </td>
                            {% else %}
                                <td>Accepted.</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
        {% endif %}
        <br>
        <br>
                <form action="/settings/{{vtr}}">
                    <input class="sub" type="submit" value="Settings" />
                </form>

                <form action="/">
                    <input class="sub" type="submit" value="Logout" />
                </form>
                <br>
                <br>
                <br>
            </div>


    </div>
{% endblock %}

