<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title> {% block head %} {% endblock %} </title>
        {% block style %} {% endblock %}
    </head>
    <body>
    <header>
        <img style="width:200px;" src="static/logo.png" alt="">
	</header>
        {% block body %} {% endblock %}
    </body>
</html>