{% extends "layout.html" %}

{% block head %} Login {% endblock %}


{% block style %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block body %}

{% if flag == True %}
    <h4 id="error" style="text-align:center">Please enter valid credentials, or sign up.</h4>
{% endif %}

    <form action="/" method="POST" class="form">
        <label class="label" for="phone"><b>Phone Number</b></label>
        <input class="input" type="text" placeholder="Enter Phone Number" name="phone" required>
        <br>
        <label class="label" for="password"><b>Password</b></label>
        <input class="input" type="password" placeholder="Enter Password" name="password" required>
        <br>
        <br>
        <input id="button1" type="submit" value="Login">
        <br>
        <br>
        <a class="link" href="/">Clear</a>
        <a class="link" href="/register">Sign up as a volunteer!</a>
        <br>
    </form>
    <br>
    <br>
    <br>
    <br>
    <p id="rq">If you wish to request a service please refer to <a href="/requesters">this page</a> for details.</p>
{% endblock %}
