{% extends "layout.html" %}

{% block head %} Login {% endblock %}

{% block body %}

{% if flag == True %}
    <h4 style="text-align:center">Please enter valid credentials, or sign up.</h4>
{% endif %}

    <form action="/" method="POST">
        <label for="phone"><b>Phone Number</b></label>
        <input type="text" placeholder="Enter Phone Number" name="phone" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <input type="submit" value="Login">

        <a href="/">Clear</a>
        <a href="/register">Sign Up</a>
        <p></p>
    </form>
    <p>If you wish to request a service please refer to <a href="/requesters">this page</a> for details.</p>
{% endblock %}