{% extends "layout.html" %}

{% block head %} Terms and Conditions {% endblock %}

{% block body %}
        <div class="termsx">
            <p><strong><span style="font-size: x-large;">TERMS OF USE</span></strong></p>
            <p><span style="font-size: medium;"><strong>Conditions of Use</strong></span></p>
                <p><span style="font-size: small;">
                Please read these terms and conditions ("terms", "terms and conditions") carefully before using this website (the "service") operated by us.
                We will provide their services to you, which are subject to the conditions stated below in this document.
                Every time you visit this website, use its services or make a
                purchase, you accept the following conditions. This is why we urge you to read them carefully.</span></p>
            <p><span style="font-size: medium;"><strong>Privacy Policy</strong></span></p>
                <p><span style="font-size: small;">
                Before you continue using our website we advise you to read our privacy policy
                regarding our user data collection. It will help you better understand our practices.</span></p>
            <p><span style="font-size: medium;"><strong>Copyright</strong></span></p>
                <p><span style="font-size: small;">
                Content published on this website (digital downloads, images, texts, graphics, logos) is the property of this website and/or its content creators and protected by international copyright laws.
                The entire compilation of the content found on this website is the exclusive property of this website, with copyright authorship for this compilation by this website.</span></p>

            <p><span style="font-size: medium;"><strong>Communications</strong></span></p>
                <p><span style="font-size: small;">
                The entire communication with us is electronic. Every time you send us an email or visit our website, you are going to be communicating with us.
                You hereby consent to receive communications from us. If you subscribe to the news on our website, you are going to receive regular emails from us.
                We will continue to communicate with you by posting news and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements
                and other communications we provide to you electronically meet the legal requirements that such communications be in writing.</span></p>

            <p><span style="font-size: medium;"><strong>Applicable Law</strong></span></p>
                <p><span style="font-size: small;">
                By visiting this website, you agree that the local laws, without regard to principles of conflict laws, will govern these terms and conditions,
                or any dispute of any sort that might come between our website and you, or its business partners and associates.</span></p>

            <p><span style="font-size: medium;"><strong>Disputes</strong></span></p>
                <p><span style="font-size: small;">
                Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court
                and you consent to exclusive jurisdiction and venue of such courts.</span></p>

            <p><span style="font-size: medium;"><strong>License and Site Access</strong></span></p>
                <p><span style="font-size: small;">
                We grant you a limited license to access and make personal use of this website. You are not allowed to download or modify it.
                This may be done only with written consent from us.</span></p>
        </div>
{% endblock %}